@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
    width: 100%;
}

.red-bar {
    background-color: #D2354C;
    height: 60px;
    color: #fff;
    padding: 5px 50px;
  }

.red-bar h2 {
    color: #fff;
    margin-top: 10px;
}  

.header{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}   

.header h3{
    font-size: 30px;
    margin-top: 20px;
}   

.header p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.imges1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imges1 img{
    margin: 20px 10;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 1.5;
    background: #ffffff;
    margin: 10px 40px 10px;
    padding: 10px;
}

.text p {
    text-align: left;
    margin: 50px;
}

.video-container {
    border-radius: 20px; /* Rounded corners */
    overflow: hidden; /* Ensures the video stays within the rounded border */
    background-color: #f8f9fa; /* Light background for contrast */
    padding: 15px; /* Padding around the video */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    margin: 20px auto; /* Center the container with some margin */
    max-width: 600px; /* Restrict maximum width */
}

.video-container h4 {
    font-size: 1.75rem;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

.video-container .ratio {
    border-radius: 20px;/* ทำให้วิดีโอมีมุมโค้งมนเช่นกัน */
    overflow: hidden; /* ทำให้วิดีโอไม่ล้นออกจากคอนเทนเนอร์ */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* เงาสำหรับวิดีโอ */
}

.video-container video {
    border-radius: 20px; /* ทำให้วิดีโอมีมุมโค้งมนเหมือนคอนเทนเนอร์ */
    width: 100%; /* ทำให้วิดีโอพอดีกับคอนเทนเนอร์ */
}
