@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
    width: 100%;
}

.red-bar {
    background-color: #D2354C;
    height: 60px;
    color: #fff;
    padding: 5px 50px;
  }

.red-bar h2 {
    color: #fff;
    margin-top: 10px;
}  

.header{
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}   

.header h3{
    font-size: 30px;
    margin-top: 20px;
}   

.header p{
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    border-radius: 20px;
}

.imges1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imges1 img{
    margin: 20px 10;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 1.5;
    background: #ffffff;
    margin: 10px 40px 10px;
    padding: 10px;
}

.text p {
    text-align: left;
    margin: 50px;
}

  

  
  