@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
}

.red-bar {
    background-color: #D2354C;
    height: 60px;
    color: #fff;
    padding: 5px 50px;
    font-family: Arial, sans-serif;
  }

.header{
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 18px;
}   

.header p{
    text-align: center;
    font-family: KanThai-Regular;
    font-size: 16px;
    margin-top: 20px;
}

.vdeiotth {
    text-align: center; /* Center the video container */
    margin-top: 10px;
    margin-bottom: 10px;
}

.imges1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.imges1 img{
    margin: 20px 10;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    font-family: KanThai-Regular;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.5px;
    line-height: 1.5;
    text-align: center;
    
  }
  

  

  
  