@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa; /* สีพื้นหลังของเว็บเพจ */
}

.news-container {
    max-width: 900px; /* กำหนดความกว้างสูงสุดของคอนเทนเนอร์ */
    margin: 40px auto; /* กลางคอนเทนเนอร์และเพิ่ม margin ด้านบน */
    padding: 20px;
    background-color: #ffffff; /* สีพื้นหลังของคอนเทนเนอร์ */
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.news-container h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    color: #343a40; /* สีตัวอักษร */
}

.news-container p {
    text-align: center;
    font-size: 18px;
    color: #6c757d;
    margin-bottom: 20px;
}

.carousel-item img {
    object-fit: cover; /* ทำให้รูปภาพครอบคลุมพื้นที่ของคอนเทนเนอร์ */
    height: 500px; /* กำหนดความสูงของรูปภาพ */
    width: 100%; /* กำหนดความกว้างให้ครอบคลุมคอนเทนเนอร์ */
    border-radius: 20px; /* มุมโค้งมน */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* เงา */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #343a40; /* เปลี่ยนสีของปุ่มควบคุม */
    border-radius: 50%; /* ทำให้ปุ่มเป็นวงกลม */
    padding: 10px;
}
