@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}
  
.news-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
  
.news-container h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
  
.news-container p {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    border-radius: 10px;
}
  
.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
  
.content-item {
    width: calc(33% - 20px);
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
}
  
.content-item img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
  
.image-container {
    position: relative;
    width: 100%;
}
  
.card {
    height: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-img-top {
    height: 250px; /* ปรับความสูงของรูป */
    object-fit: cover; /* ทำให้ภาพครอบคลุมพื้นที่ที่กำหนด */
}

.carousel-item img {
    object-fit: cover; /* ทำให้รูปภาพครอบคลุมพื้นที่ของคอนเทนเนอร์ */
    height: 500px; /* กำหนดความสูงของรูปภาพ */
    width: 100%; /* กำหนดความกว้างให้ครอบคลุมคอนเทนเนอร์ */
    border-radius: 20px; /* มุมโค้งมน */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* เงา */
}

.btnblack {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btn-danger:hover {
    background-color: #c82333; /* สีของปุ่มเมื่อ hover */
}
