@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}
  
.news-container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
.news-container h3 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 20px; 
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
  
.news-container p {
    font-size: 16px;
    color: #333;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 20px;
    border-radius: 10px;
  }
  
.content-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
  
.content-item {
  width: calc(33% - 20px);
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  }
  
.content-item img {
    width: 90%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
video {
    max-width: 100%;
    height: auto; 
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
.image-container {
    position: relative;
    width: 90%;
  }
  
.image-container img,
.image-container video {
  width: 100%;
}
  
.image-container video {
  max-height: 240px;
  display: block;
  margin: 0 auto 0;
}
  
.image-container:hover .overlay {
  display: block;
}

.buttom {
  text-align: left;
  margin-top: 20px;
}

.buttom .btn-danger  {
  background-color: #dc3545; /* สีพื้นหลังปุ่ม */
  border: none; /* ลบขอบของปุ่ม */
  padding: 10px 20px;
  border-radius: 5px; /* มุมโค้งมน */
  font-size: 16px;
  text-decoration: none; /* ลบเส้นใต้ */
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333; /* สีของปุ่มเมื่อ hover */
}