@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body{
    font-family: "Noto Sans Thai", sans-serif;
}

.cement-products-page {
    margin: 0;
    padding: 0;
}

.cement-products-page .red-bar h2 {
    text-align: center;
}

.cement-products-page .red-bar {
    background-color: #D2354C;
    height: 60px;
    color: #fff;
    padding: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cement-products-page .cement-products-container {
    margin: 10px auto;
    width: 50%;
}

.cement-products-page .cement-brand-section {
    margin-bottom: 40px;
}

.cement-products-page .cement-brand-section h3 {
    text-align: center;
    color: #D2354C;
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: bold;
}

.cement-products-page .cement-product-item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cement-product-item img {
    flex-basis: calc(50% - 10px); /* แบ่งพื้นที่ของแต่ละรูปเป็น 50% */
    object-fit: cover;  /* รักษาอัตราส่วนภาพ */
    border: 2px solid #ddd; 
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    background-color: #fff;
    align-items: center;
    transition: transform 0.2s;
}

.cement-product-item img:hover {
    transform: scale(1.05); /* ขยายเมื่อ hover */
}


.cement-product-item img:hover {
    transform: scale(1.05);
}

.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.button-container .btn {
    font-size: 20px;
    padding: 10px 20px;
    background-color: #D2354C;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    justify-content: end;
}

.button-container .btn:hover {
    background-color: #b52e41;
}
