/* คอนเทนเนอร์สำหรับจัดกึ่งกลางรูปภาพ 1*/
.image-container {
    display: flex;
    justify-content: center; /* จัดกึ่งกลางแนวนอน */
    align-items: center; /* จัดกึ่งกลางแนวตั้ง */
    width: 100%;
    height: 60vh; /* ความสูงของวิวพอร์ตเต็ม */
    overflow: hidden;
}
 
.image-container {
    text-align: center;
}

.text-image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.text-image-container .image {
    margin-right: 20px;
}

.text-image-container .text {
    text-align: left;
}

.text-image-container .text h2 {
    font-size: 1.5em;
}

.text-image-container .text p {
    margin: 5px 0;
}

.text-image-container .text button {
    background-color: #D2354C; /* สีปุ่ม */
    color: #fff; /* สีข้อความปุ่ม */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
}

