@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    margin: 0;
    padding: 0;
}

/* Container for centering image 1 */
.image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    width: 100%;
    height: 60vh; /* Viewport height */
    overflow: hidden;
}

.image-container img {
    max-width: 100%;
    height: auto;
}

/* Container for text and image */
.text-image-container {
    display: flex;
    flex-direction: column; /* Stack vertically on small screens */
    align-items: center; /* Center content */
    justify-content: center;
    margin: 20px 0;
}

.text-image-container .image {
    margin-bottom: 20px;
}

.text-image-container .text {
    text-align: center; /* Center text on small screens */
}

.text-image-container .text h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.text-image-container .text p {
    margin: 5px 0;
}

.text-image-container .text button {
    background-color: #D2354C; /* Button color */
    color: #fff; /* Button text color */
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
    margin-top: 10px;
}

/* Responsive design */
@media (min-width: 768px) {
    .text-image-container {
        flex-direction: row; /* Row direction for larger screens */
    }

    .text-image-container .image {
        margin-right: 20px; /* Space between image and text */
        margin-bottom: 0;
    }

    .text-image-container .text {
        text-align: left; /* Align text to the left on larger screens */
    }
}

@media (min-width: 1200px) {
    .image-container {
        height: 70vh; /* Adjust height for larger screens */
    }

    .text-image-container .text h2 {
        font-size: 2em; /* Larger font size for larger screens */
    }

    .text-image-container .text button {
        font-size: 1.2em; /* Larger button text for larger screens */
    }
}
