@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
}

h1 {
    margin-top: 30px;
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
}

.card-img-top {
    height: 200px; /* Adjusted height for the image */
    object-fit: cover;
    border: 3px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 25px;
    margin-bottom: 20px;
    border: 20px;
}

.card {
    margin-bottom: 50px; /* Reduces space between cards and next element */
}

.card-body {
    padding: 20px;
}

.list-unstyled li {
    margin: 10px 0;
}

.list-unstyled li a {
    text-decoration: none;
}

.list-unstyled li a:hover {
    text-decoration: underline;
}

.btnblack {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}
  
.btnblack .btn-danger  {
    background-color: #dc3545; /* สีพื้นหลังปุ่ม */
    border: none; /* ลบขอบของปุ่ม */
    padding: 10px 20px;
    border-radius: 5px; /* มุมโค้งมน */
    font-size: 16px;
    text-decoration: none; /* ลบเส้นใต้ */
    color: #fff;
}
  
.btn-danger:hover {
    background-color: #c82333; /* สีของปุ่มเมื่อ hover */
}  