@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #f4f4f4;
}

body {
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    height: 120px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 5px;
}

.product-service {
    font-size: 14px;
    text-decoration: none;
    color: inherit;
}

.content {
    flex: auto;
}

footer {
    background-color: #D2354C;
    color: #fff;
    font-weight: 100;
    padding: 0px 0;
    text-decoration: none !important;
    font-weight: 300;
}

footer .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0cqmax;
}

footer div {
    margin: 10px 0;
}

footer h3, footer p {
    color: #fff;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: #fff !important;
    text-decoration: none !important;
    border-bottom: none !important;
}

.footer-left p {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
    text-decoration: none;
}

.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-social ul li {
    margin: 10px 0;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-social ul li a img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
    max-width: 35px;
    max-height: 35px;
}

/* Responsive design */
@media (min-width: 768px) {
    .text-image-container {
        flex-direction: row; /* Row direction for larger screens */
        padding: 0; /* Remove padding on larger screens */
    }

    .text-image-container .image {
        margin-right: 20px; /* Space between image and text */
        margin-bottom: 0;
        max-width: 50%; /* Limit width of image */
    }

    .text-image-container .text {
        text-align: left; /* Align text to the left on larger screens */
        max-width: 50%; /* Limit width of text section */
    }
}

@media (min-width: 1200px) {
    .image-container {
        height: 60vh; /* Adjust height for larger screens */
    }

    .text-image-container .text h2 {
        font-size: 2em; /* Larger font size for larger screens */
    }

    .text-image-container .text button {
        font-size: 1.2em; /* Larger button text for larger screens */
    }
}
