@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Thai:wght@100..900&display=swap');

body {
    font-family: "Noto Sans Thai", sans-serif;
    background-color: #f4f4f4;
    height: 100%;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

header {
    background-color: #fff;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    width: 100%;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo {
    height: 80px;
    max-width: 100%;
}

nav ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
    padding: 0;
}

nav ul li {
    margin: 5px 20px;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 18px;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 10px;
}

.product-service {
    font-size: 20px;
    text-decoration: none;
    color: inherit;
}

footer {
    background-color: #D2354C;
    color: #fff;
    width: auto;
    display: flex;
}

footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

footer div {
    margin: 10px 0;
}

footer h3, footer p {
    color: #fff;
    margin: 5px 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 10px 0;
}

footer ul li a {
    color: #fff !important;
    text-decoration: none !important;
}

.footer-left p {
    margin: 0;
    line-height: 1.4;
    font-size: 16px;
}

.footer-social ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.footer-social ul li {
    margin: 0 10px 0 0;
}

.footer-social ul li a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.footer-social ul li a img {
    margin-right: 10px;
    width: 35px;
    height: 35px;
}

