{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<div class="red-bar">
    <h2>เกี่ยวกับเรา</h2>
</div>
<div class="header">
    <h3>เกี่ยวกับเรา</h3>
    <p>เป็นตัวแทนจำหน่ายวัสดุก่อสร้าง</p>
</div>
<div class="imges1">
    <img src="{{ url_for('static', filename='images/Home/3.png') }}" alt="About Image 1">
</div>
<div class="text">
    <p>
    เพื่อเพิ่มประสิทธิภาพในการดำเนินธุรกิจTHH ได้เปิดการบริการ เพื่อให้ครองคลุมมากยิ่งขึ้น ตอบโจทย์ ทุกความต้องการของลูกค้ามากขึ้น ด้วยการให้คำปรึกษา คำแนะนำ และการบริการที่
    เกี่ยวข้องกับการก่อสร้างทั้งหมดอย่างครบวงจร ตั้งแต่เรื่องของคอนกรีตสำเร็จรูป เหล็ก ปูนถุง 
    รับเหมาก่อสร้างมีความเชี่ยวชาญ ต่อยอดไปถึงงานโครงสร้าง ซ่อมแซม ต่อเติม ดูแล 
    ที่สามารถตอบโจทย์ลูกค้าทุกให้มากที่สุดความต้องการทุกรูปแบบที่เกี่ยวข้องกับงานก่อสร้างที่เดียวครบจบที่เดียวทุกความต้องการ
   </p> 
</div>

<div class="video-container  mb-1">
    <h4 class="text-center mb-1">ชมวีดีโอของเรา</h4>
    <div class="ratio ratio-16x9" style="max-width: 600px; margin: 0 auto;">
        <video controls>
            <source src="{{ url_for('static', filename='video/TTH_5th_Anniverary_2.mp4') }}" type="video/mp4">
        </video>
    </div>
</div>


{% endblock %}
