{% extends "layout.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/activities1.css') }}">
</head>
<body>
<div class="container my-5 news-container">
  <h3 class="text-center mb-4">ผลงาน</h3>
  <p class="text-center mb-4">ผลงานที่น่าสนใจของ TTH EP.2</p>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-2 g-3">
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/7.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">งานปั้มลาก หน้างาน ปากเกร็ด</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/2.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">หน้างานเทพื้น สาย 5</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/8.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">ใช้ปั้ม คู่คอนกรีต หน้างาน พระราม5</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/4.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">งานส่งแผ่นพื้น หน้างาน ลาดพร้าว</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/9.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">งานเทเสา หน้างานไทรท้า นนทบุรี</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/UpdateTTH2/12.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">Easy Pump หน้างาน แจ้งวัฒนะปากเกร็ด</p>
              </div>
          </div>
      </div>
      <div class="btnblack">
        <a href="{{ url_for('activities') }}" class="btn btn-danger">ย้อนกลับ</a>
    </div>
  </div>
</div>
</body>
{% endblock %}
