{% extends "layout.html" %}
{% block content %}
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/activities1.css') }}">
</head>
<body>
<div class="container my-5 news-container">
  <h3 class="text-center mb-4">ออกบูส IRPC</h3>
  <p class="text-center mb-4">ผลงานที่น่าสนใจของ TTH</p>
  <div class="row row-cols-1 row-cols-md-3 row-cols-lg-2 g-3">
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc/1.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">IRPC: บริษัท ไออาร์พีซี จำกัด (มหาชน)</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc/2.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">ห้องเสม็ดและห้องทรายแก้ว วันที่ 26-30 กันยายน 2567</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc/3.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">ลงทะเบียนลูกค้าสั่งเสื้อ Office</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc2/1.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">สถานที่ สำนักงานคลังชั้น 2 ห้องอบรม อยุธยา วันที่ 4-5 กันยายน 2567</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc2/2.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">ลูกค้าวัดไซต์เสื้อ</p>
              </div>
          </div>
      </div>
      <div class="col">
          <div class="card border-0 shadow-sm">
              <img src="{{ url_for('static', filename='images/irpc2/3.jpg') }}" class="card-img-top" alt="รูป">
              <div class="card-body">
                  <p class="card-text">เตรียมสถานที่จำหน่ายเสื้อผ้า</p>
              </div>
          </div>
      </div>
      <div class="btnblack">
        <a href="{{ url_for('activities') }}" class="btn btn-danger">ย้อนกลับ</a>
    </div>
  </div>
</div>
</body>
{% endblock %}
