{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/activities.css') }}">
</head>
<body>
    <div class="news-container">
        <h3>ผลงาน</h3>
        <p>ผลงานที่น่าสนใจของ TTH</p>
        <div class="content-row">
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/1.jpg') }}" alt="รูป">
                </div>
                <p>Review จัดส่ง งานเหล็ก หน้างาน หนองแขม</p>
            </div>
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/2.jpg') }}" alt="รูป">
                </div>
                <p>เทพื้น ด้วย คิวมิกซ์ คอนกรีต Q-mix ลูกค้าราชพฤกษ์-พรานนก</p>
            </div>
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/3.jpg') }}" alt="รูป">
                </div>
                <p> งานรับเหมาก่อสร้างต่อเติมบ้าน ลูกค้าบางนา-เทพารักษ์ </p>
            </div>
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/4.jpg') }}" alt="รูป">
                </div>
                <p> งานเทคานรั้ว หน้างาน พระราม5 </p>
            </div>
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/5.jpg') }}" alt="รูป">
                </div>
                <p> Review รีวิว หน้างาน สาย 3 🏗️เทชั้น2 +รถปั้ม แบบปั๊มบูม  พุทธมณฑล สายสาม </p>
            </div>
            <div class="content-item">
                <div class="image-container">
                    <img src="{{ url_for('static', filename='images/acitivities/6.jpg') }}" alt="รูป">
                </div>
                <p> งาน เสาเข็มเจาะ เล็ก หน้างาน บางบัวทอง  </p>
            </div>
        </div>
</body>
{% endblock %}
