{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Concrete_truck_brand.css') }}">
</head>

<div class="container mt-4">
    <div class="red-bar text-center mb-4">
        <h2>ยี่ห้อรถคอนกรีต</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/4.png') }}" class="card-img-top" alt="Concrete Truck 1">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต CPAC</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/6.png') }}" class="card-img-top" alt="Concrete Truck 2">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต NAMHENG GROP</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/5.png') }}" class="card-img-top" alt="Concrete Truck 3">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต อินทรี</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/12.jpg') }}" class="card-img-top" alt="Concrete Truck 5">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต วีคอนกรีต</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/13.jpg') }}" class="card-img-top" alt="Concrete Truck 6">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถฉัตรธงชัย คอนกรีต</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/1.jpg') }}" class="card-img-top" alt="Concrete Truck 8">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต Fast Concrete</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/9.png') }}" class="card-img-top" alt="Concrete Truck 7">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต กาญจนา</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/3.png') }}" class="card-img-top" alt="Concrete Truck 9">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต ซีเมนเอเชียจำกัด</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 text-center">
                <img src="{{ url_for('static', filename='images/Cement_truck/7.png') }}" class="card-img-top" alt="Concrete Truck 10">
                <div class="card-body">
                    <p class="card-text">ยี่ห้อรถคอนกรีต QMIX Concrete</p>
                </div>
            </div>
        </div>
    </div>

    <div class="text-center mt-3">
        <a href="/service"><button class="btn btn-danger" type="button">ย้อนกลับ</button></a>
    </div>
</div>

{% endblock %}
