{% extends "layout.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>
<body>
    <div class="image-container">
        <img src="{{ url_for('static', filename='images/Home/1.png') }}" alt="Home Image 1">
    </div>
    <div class="text-image-container">
        <div>
            <img src="{{ url_for('static', filename='images/Home/2.png') }}" alt="Home Image 2">
        </div>
        <div class="text">
            <h2>บริการของเรา</h2>
            <p>เป็นตัวแทนจำหน่ายวัสดุก่อสร้าง</p>
            <p>คอนกรีตสำเร็จรูป</p>
            <p>เหล็ก</p>
            <p>ปูนถุง</p>
            <p>รับเหมาก่อสร้าง</p>
            <a href="/service"><button>ดูข้อมูล</button></a>
        </div>
    </div>
</body>
{% endblock %}
