<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TTH Trading</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="TTH-icon" href="{{ url_for('static', filename='images/Logo/TTH.png') }}">
</head>
<body>
    <header>
        <div class="container header-grid">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/Logo/TTH.png') }}" alt="TTH Trading Logo" class="logo">
                <a href="/service" class="product-service">ผลิตภัณฑ์และบริการ</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">หน้าแรก</a></li>
                    <li><a href="/about me">เกี่ยวกับเรา</a></li>
                    <li><a href="/New">ข่าวสาร</a></li>
                    <li><a href="/activities">กิจกรรม</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <div class="container footer-grid">
            <div class="footer-left">
                <h3>TTH Trading</h3>
                <p>เป็นตัวแทนจำหน่ายวัสดุก่อสร้าง</p> 
                <p>เป็นตัวแทนจำหน่ายวัสดุก่อสร้าง</p> 
                <p>เช่น คอนกรีตสำเร็จรูป เหล็ก ปูนถุง</p> 
                <p>และ รับเหมาก่อสร้าง</p>
            </div>
            <div class="footer-middle">
                <h3>Company</h3>
                <ul>
                    <li><a href="/about me">เกี่ยวกับเรา</a></li>
                    <li><a href="/New">ข่าวสาร</a></li>
                    <li><a href="/activities">กิจกรรม</a></li>
                    <li><a href="/Concrete_truck_brand">ผลิตภัณฑ์และบริการ</a></li>
                </ul>
            </div>
            <div class="footer-social g-col-4">
                <h3>Contact</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100057578044551"><i class="fab fa-facebook-f"></i> <img src="{{ url_for('static', filename='images/icon/1.png') }}" alt="Facebook Icon"> Facebook</a></li>
                    <li><a href="https://line.me/ti/p/RTlQB4BKGH"><i class="fab fa-line"></i> <img src="{{ url_for('static', filename='images/icon/2.png') }}" alt="Line Icon"> @ Line (ได้ที่นี้)</a></li>
                    <li><a href="#"><i class="fas fa-phone-alt"></i> <img src="{{ url_for('static', filename='images/icon/3.png') }}" alt="Phone Icon"> 063-239-2955 <br> 061-910-0823 </a></li>
                </ul>
            </div>
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
</body>
</html>
