{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/Selling_products.css') }}">
</head>
<body>
    <!-- Start of Product 1 Section -->
    <div class="sell-product">
        <h1 class="display-6">จำหน่ายแผ่นพื้นอิฐมวลเบา</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/precast_concrete/6.jpg') }}" class="rounded float-start" alt="product1">
                    <p>อิฐบล็อก</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/precast_concrete/2.png') }}" class="rounded float-start" alt="product1">
                    <p>แผ่นพื้นคอนกรีตสำเร็จรูป</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/precast_concrete/3.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เสารั่วปูน</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/precast_concrete/5.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เสาปูน</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Start of Product 2 Section -->
    <div class="sell-product">
        <h1 class="display-6">จำหน่ายเหล็ก</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/iron/7.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เหล็กรูปพรรณ/เหล็กโครงสร้างรูปพรรณ</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/iron/4.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เหล็ก C</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/iron/3.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เหล็กท่อเหลี่ยม</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img  src="{{ url_for('static', filename='images/iron/6.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เหล็ก ฉาก</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Start of Product 3 Section -->
    <div class="sell-product">
        <h1 class="display-6">จำหน่ายถุงปูนซีเมนต์</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/Sell_bags_of_cement/1.jpg') }}" class="rounded float-start" alt="product1">
                    <p>ถุงปูนตราเสือ ปูนซีเมนซ์ผสม ก่อ ฉาบ เท</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/Sell_bags_of_cement/2.jpg') }}" class="rounded float-start" alt="product1">
                    <p>ถุงปูนตราเสือ ฉาบสูตรพิเศษ</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/Sell_bags_of_cement/3.jpg') }}" class="rounded float-start" alt="product1">
                    <p>ถุงปูนตราเสือ มอร์ตาร์ ฉาบทั่วไป</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/Sell_bags_of_cement/4.jpg') }}" class="rounded float-start" alt="product1">
                    <p>ถุงปูนตราเสือ มอร์ตาร์ อิฐมวลเบา</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Start of Construction Section -->
    <div class="sell-product">
        <h1 class="display-6">รับเหมาก่อสร้าง</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/construction/1.jpg') }}" class="rounded float-start" alt="product1">
                    <p>ซีแพครถเล็ก งานเทพื้น หน้างาน</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/construction/2.jpg') }}" class="rounded float-start" alt="product1">
                    <p>เทปรับปรุงหอพัก หน้างานพรานนก ลูกค้า</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/construction/3.png') }}" class="rounded float-start" alt="product1">
                    <p>ต่อเติมบ้าน</p>
                </div>
            </div>
            <div class="col-md-6">
                <div class="product1-container">
                    <img src="{{ url_for('static', filename='images/construction/5.jpg') }}" class="rounded float-start" alt="product1">
                    <p>งาน เสาเข็มเจาะ</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Back Button Section -->
    <div class="text-center">
        <a href="{{ url_for('product_service') }}" class="btn btn-danger">ย้อนกลับ</a>
    </div>
</body>
{% endblock %}
