{% extends "layout.html" %}
{% block content %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/service.css') }}">
    <title>ผลิตภัณฑ์และบริการ</title>
</head>
    <body>
        <div class="container">
            <h1>ผลิตภัณฑ์และบริการ</h1>
            <div class="product-row">
                <div class="product-item">
                    <img src="{{url_for('static',filename = 'images/service/1.jpg')}}" alt="คอนกรีตผสมเสร็จ">
                    <h3>คอนกรีตผสมเสร็จ</h3>
                    <ul>
                        <li><a href="/Concrete_truck_brand">ยี่ห้อรถคอนกรีต</a></li>
                    </ul>
                </div>
                <div class="product-item">
                    <img src="{{url_for('static', filename='images/service/11.jpg')}}" alt="รูปปูนถุง">
                    <h3>ซีเมนต์</h3>
                    <ul>
                        <li><a href="/cement_products">ผลิตภัณฑ์ปูนซีเมนต์</a></li>
                    </ul>
                </div>
                <div class="product-item">
                    <img src="{{url_for('static',filename='images/service/2.png')}}" alt="บริการอื่นๆ">
                    <h3>บริการอื่นๆ</h3>
                    <ul>
                        <li><a href="/Selling products">จำหน่ายแผ่นพื้นอิฐมวลเบา</a></li>
                        <li><a href="/Selling products">จำหน่ายเหล็ก</a></li>
                        <li><a href="/Selling products">จำหน่ายถุงปูนซีเมนต์</a></li>
                        <li><a href="/Selling products">รับเหมาก่อสร้าง</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
